@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1> using static files</h1>
    <h2> using a static image file: UCMO Mule Image</h2>
    <img src="~/image/mule.jpeg" alt="ucmo mule head image" style="width:300px"/>
}
